@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

body {
    height: 100%;
    max-height: 100%;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.01rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.75em;
    color: #3A4145;
    /*-webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;*/
}

h1.author-title {
    font-size: 4rem;
}

h1.author-xtitle {
    font-size: 4.3rem;
}

/*html {
    -webkit-font-variant-ligatures: none;
    -moz-font-variant-ligatures: none;
    font-variant-ligatures: none;
    -webkit-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
}*/


/*blockquotes*/

post-blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: inherit;
  font-style: italic;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.4;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #D95360;
  border-right: 2px solid #D95360;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

post-blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

post-blockquote::after{
  /*Reset to make sure*/
  content: "\201D";

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  right: 10px;
  bottom: 5px;
}

post-blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

post-blockquote a:hover{
 color: #666;
}

post-blockquote em{
  font-style: italic;
}
