@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);

body {
    height: 100%;
    max-height: 100%;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.01rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75em;
    color: #3A4145;
    /*-webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;*/
}

/*html {
    -webkit-font-variant-ligatures: none;
    -moz-font-variant-ligatures: none;
    font-variant-ligatures: none;
    -webkit-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
    font-feature-settings: 'liga' 0, 'onum' 1, 'kern' 1;
}*/
